body {
    margin: 0;
    padding: 0;

    

    background-color: #333;
    color: white;


}
body{background-color:#FFDEAD; }

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 75px;
    text-align: center;
    bottom: 20px;
}

.intro {
    padding: 20px;
    text-align: center;
    color:black;
}

.photo-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #FFE4B5; /* Moccasin */
}

.photo {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.photo img {
    width: 100%;
    height: auto;
}

.photo p {
    margin: 5px 0;
}
figcaption {
    position:unset;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


a:hover{opacity:0.5;
    transition: background-color 0.5s, color 0.4s;}
    
#footer {height:30px;
background-color:black;
color:white;
text-align:center;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    
}

h2{text-align:center;
padding:10px;
color:black;}

h3{padding:10px;}

.info {width:80%;
background-color:white;
color:black;
margin-left:auto;
margin-right:auto;
border:solid black 5px;
padding:10px;
margin-bottom:45px;}


th, td {
    /*  background-color: #ffeb3b; */
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color:black;
}
#heading{color:black;}
tr {
    
}
#home{width:50px;
height:25px;
background-color:black;
margin-left: auto;
  margin-right: auto;
  text-align:center;
}
a:link {
  color: white;
}

/* visited link */
a:visited {
  color:white ;
}

/* mouse over link */
a:hover {
  color: red;
}
th {
    background-color: #f7dc6f;
    color: black;
}

td:nth-child(1), th:nth-child(1) {
    width: 20%;
}

td:nth-child(2), th:nth-child(2) {
    width: 10%;
}

td:nth-child(3), th:nth-child(3) {
    width: 10%;
}

td:nth-child(4), th:nth-child(4) {
    width: 40%;
}

td:nth-child(5), th:nth-child(6) {
    width: 20%;
}
.repo{color:black;
text-align:center;
margin-bottom:10px;}
.repoLink {width:100px;
height:50%;
background-color:#FFDEAD;
color:black;
margin-left:15px;
padding:3px;
border-radius:25px;
margin-top:5px; 
margin-bottom:5px;
border:solid black 3px;
padding:0;}

.flex-container {
    display: flex;
    padding:5px;
    
}

.flex-child {
    flex: 1;
    border: 2px solid black;
    white-space: pre-wrap;
    padding:5px;
    background-color:#FFE4B5;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

pre {
    background-color: #333; /* Background color */
    color: white; /* Text color */
    padding: 10px; /* Padding around the code block */
    border-radius: 5px; /* Rounded corners */
    font-family: "Courier New", monospace; /* Font family for code */
    font-size: 14px; /* Font size */
    overflow: auto; /* Add a scrollbar if code overflows */
    white-space: pre-wrap; /* Wrap long lines */
    text-align: left; /* Left-align text within the pre element */
    max-height: 300px;
}

#bioContainer {
  padding: 30px 0;
  text-align: center;
  background-color:#FFDEAD;
  border:solid black 3px;
  border-radius:25px;
}
.bio{display: inline-block;
  width: 200px;
  margin: 10px;
  border:solid black 3px;
  border-radius:25px;
  background-color:white;
  padding:10px;
  }
  
  .bio h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-decoration:underline;
}

.bio p {
  font-size: 14px;
  line-height: 1.5;
}
