
.tableName{
    text-align: left;
    width: 60%;
    margin: auto;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 2vw;
    border:black;
    
    }
    


.issueList{
    
}

.titleList{
    
}